adf-eventplat-prod/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-eventplat-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipe_Reporting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DropCreateSinkTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "staging.Build_SourceTables"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_toptal",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IngestMasterReporting",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DropCreateSinkTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IngestMasterToReporting",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceGeography": {},
									"SourceEventCategory": {},
									"SourceResellers": {},
									"SinkSourceGeography": {},
									"SinkSourceCategory": {},
									"SinkSourceReseller": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "IngestSalesReporting",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DropCreateSinkTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IngestSalesReporting",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLSources": {},
									"CSVSources": {},
									"XMLSources": {},
									"SinkSourceFactSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Taxonomy",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IngestMasterReporting",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "IngestSalesReporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Build_Taxonomy]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_toptal",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:41:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubPipe_Clean_MasterFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CreateMasterFiles",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CreateMasterFiles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlsourcefiles": {},
									"SinkMasterEvents": {},
									"SinkMasterReseller": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubPipe_Clean_SinkCSVSources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SinkCSVSource",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SinkCSVSource",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"csvsourcefiles": {},
									"MasterGeography": {},
									"MasterReseller": {},
									"MasterEvent": {},
									"SinkCSVSources": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubPipe_Clean_SinkSQLSources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SinkSQLSource",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SinkSQLSource",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlsourcefiles": {},
									"MasterGeography": {},
									"SinkSQLSources": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubPipe_Clean_SinkXMLSources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SinkXMLSource",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SinkXMLSource",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"xmlsourcefiles": {},
									"MasterGeography": {},
									"MasterReseller": {},
									"MasterEvent": {},
									"SinkCSVSources": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipe_Reporting_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DropCreateSinkTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "staging.Build_SourceTables"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_toptal_copy",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IngestMasterReporting",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DropCreateSinkTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IngestMasterToReporting",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceGeography": {},
									"SourceEventCategory": {},
									"SourceResellers": {},
									"SinkSourceGeography": {},
									"SinkSourceCategory": {},
									"SinkSourceReseller": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "IngestSalesReporting",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DropCreateSinkTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IngestSalesReporting",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLSources": {},
									"CSVSources": {},
									"XMLSources": {},
									"SinkSourceFactSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Taxonomy",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IngestMasterReporting",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "IngestSalesReporting",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Build_Taxonomy]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_toptal_copy",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:41:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipe_Clean')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Master Files",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SubPipe_Clean_MasterFiles",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Sink SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Master Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SubPipe_Clean_SinkSQLSources",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Sink CSV",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Master Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SubPipe_Clean_SinkCSVSources",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Sink XML",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Master Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SubPipe_Clean_SinkXMLSources",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SubPipe_Clean_MasterFiles')]",
				"[concat(variables('factoryId'), '/pipelines/SubPipe_Clean_SinkSQLSources')]",
				"[concat(variables('factoryId'), '/pipelines/SubPipe_Clean_SinkCSVSources')]",
				"[concat(variables('factoryId'), '/pipelines/SubPipe_Clean_SinkXMLSources')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest_SQLSource",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Raw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CleanTransform_AllSources",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ingest_SQLSource",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Clean",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Reporting_SendSources",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CleanTransform_AllSources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Reporting",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipe_Clean')]",
				"[concat(variables('factoryId'), '/pipelines/Pipe_Reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipe_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest_SQLSource",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Raw_demo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CleanTransform_AllSources",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ingest_SQLSource",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Clean",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Reporting_SendSources",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CleanTransform_AllSources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipe_Reporting",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-07T18:31:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipe_Clean')]",
				"[concat(variables('factoryId'), '/pipelines/Pipe_Reporting')]"
			]
		}
	]
}